extends layout

block content  	
	h2 Tabla Personas
	section
		a(href='persona/nueva') Crear
		if personas.length == 0
			p No existen personas en la base de datos
		else
			table
				tr
					th Id
					th Nombres
					th Apellidos
					th Direccion
					th Telefono1
					th Telefono2
					th Correo
					th Editar
				for persona in personas
					tr
						td=persona.id_persona
						td=persona.nombres
						td=persona.apellidos   
						td=persona.direccion                
						td=persona.telefono1
						td=persona.telefono2
						td=persona.correo
						td 
							a(href='persona/editar/#{persona.id_persona}') Editar